/* Typography */
:root,
body {
  font-size: 1rem;
  font-family: $type-1;
  font-weight: normal;
  color: $base-gray;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $type-2-bold;
  font-weight: normal !important;
}

p {
  font-weight: normal;
  font-size: $default-font-size;
}

.h1,
h1 {
  font-size: 2.19rem;
}

.h2,
h2 {
  font-size: 1.88rem;
}

.h3,
h3 {
  font-size: 1.56rem;
}

.h4,
h4 {
  font-size: 1.13rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.9375rem;
}

.text-small{
  font-size: 13px;
  line-height: 1;
}
